<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @subject %></h1>
    <p>
      Hi,
      <br/>
      Information was requested to change your password. You can do this using the link below:
      <a href="<%=reset_password_url %>">Reset Now</a>
    </p>
    <p>
      If you didn't request this, please ignore this email. Your password will not change until you access the button above and create a new one.
    </p>
    <p>
      Yomu Labs Support
    </p>
  </body>
</html>
