<div id="create_article_step3" ng-controller="YomuLabsAdminCtrl" >
  <form>  
    <section id="articleDetails" class="clearfix" ng-init="fetch_article_data_at_step3(<%=@article_id %>);get_article_translation(<%=@article_id %>);">
      <div class="col-md-6 col-centered">

        <!-- Steps - Start -->
        <%= render "admin/article_process_steps" %>
        <!-- Steps - End -->

        <header class="clearfix" id="articleInfo">
          <span lang="en" class="pull-left source">Source: <a target="_blank" href="{{article.source_url}}">{{article.source_name}}</a></span>
          <span lang="en" class="pull-right">Level: <a href="#">{{article.level}}</a></span>
        </header>
        <article id="articleBody" class="translation">
          <!-- Form Start -->
            <div id="translationPage">
              <input type="hidden" id="article_id" value="{{article.id}}" disabled="" />
              <!-- Article Title & Meaning -->
              <h2 id="articleHeading" lang="ja">{{article.title}}</h2>
              <div class="form-group">
                <input type="text" class="form-control translatedText" id="paragraph_0" ng-model="translation.title" placeholder="Enter Translation" ng-blur=store_translation("0"); />
              </div>
              <!-- End - Article Title & Meaning §sep§ -->
              <!-- §sep§ as Seperator -->
              <div class="articleContent">
                <p compile lang="ja" ng-bind-html="article.body | create_input_box_with_ng_model"></p>
                <!-- <p compile lang="ja">{{article.body | create_input_box_with_ng_model }}</p> -->
              </div>
            </div>
          <!-- Form End -->
        </article>
      </div>
    </section>

    <footer id="articleReadFooter">
      <div class="col-md-6 col-sm-10 col-centered clearfix">
        <div class="clearfix">
          <div class="form-group clearfix">
            <a href="/admin/create_article_step2/{{article.id}}" class="btn btn-primary stepButton pull-left" type="submit">&lt;&lt; Previous</a>
             <button ng-click="save_article_translation(article.id, 'Unpublished');" class="btn btn-primary stepButton pull-right" type="submit">Save<i class="fa fa-refresh fa-spin hidden loader"></i></button>
          </div>
        </div>
      </div>
    </footer>
  </form>
</div>

<script type="text/javascript">
function store_translation(paragraph_id){
  angular.element(document.getElementById('create_article_step3')).scope().store_translation(paragraph_id);
}
</script>