<section id="adminDashboard" ng-controller="YomuLabsAdminCtrl" ng-init="init();">
  <h2 class="text-center">Admin Dashboard</h2>
  <div class="col-md-8 col-centered">
    <p>
      <button id="createArticle" type="button" class="btn btn-primary" ng-click="redirect_to_create_articles();" >Create Article</button>
    </p>
    <div class="table-responsive">
      <table id="dashboardTable" class="table table-bordered">
        <tr>
          <th>No</th>
          <th>Article</th>
          <th>Creator</th>
          <th>Created at</th>
          <th>Updated at</th> 
          <th>Published at</th> 
          <th>Status</th> 
          <th>Action</th>
        </tr>
        <tr ng-repeat="article in articles">
          <td>{{article.id}}</td> 
          <td class="pull-left">{{article.title | limitTo: 5}}</td>
          <td class="pull-left">{{article.creator}}</td>
          <td>{{article.created_at | date:'medium'}}</td>
          <td>{{article.updated_at | date:'medium'}}</td>
          <td>{{article.published_date | date:'medium'}}</td> 
          <td>{{article.publication_status}}</td>
          <td><a type="button" class="btn btn-link" href="/admin/create_article_step1/{{article.id}}" >Edit</a></td>
          <!--
          <td><button type="button" class="btn btn-link">Publish</button></td>
          -->
        </tr>
      </table>
    </div>
  </div>
</section>
