<header id="articleHeader">

	<div class="article_message">
		<div class="col-md-11 col-centered text-center {{message_type}}">
      <span>{{message_content}}</span>
    </div>
  </div>

	<div class="col-md-6 col-sm-10  col-centered clearfix">
		<!-- Logo -->
		<h1 id="logo" class="pull-left">
			<a href="#"><img class="logo-head" alt="logo" src="/assets/logo_icon_nobg.svg" height="50" width="50" /></a>
		</h1>

    <aside class="pull-right">
      <div class="dropdown" id="dropdownMenuTop">

      	<!-- Logged In User -->
       	<div class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       		<div class="frame"><img alt="avtar" src="/assets/avtar.jpg" /></div> 
       		Jason
	     	</div>
      	<!-- End - Logged In User -->

	     	<!-- Admin Dropdown -->
	     	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	     		<li><a href="#">Admin</a></li>
	     		<li role="separator" class="divider"></li>
	     		<li><a href="#">Settings</a></li>
	     		<li role="separator" class="divider"></li>
	     		<li><a href="#">Log Out</a></li>        
	   		</ul>
	   		<!-- End - Admin Dropdown -->

	    </div>
	  </aside> 
	</div>
</header>