<!--hero section-->
<header class="hero-section">

  <!--navigation-->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="">
        <img class="logo-nav" alt="logo" src="/images/logo_icon_nobg.svg" height="50" width="50">
        <img class="logo-head" alt="logo" src="/images/logo_icon_white.svg" height="50" width="50">
        </a> 
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav nav-left">
          <li><a href="#features" lang="en">Features</a></li>
          <li><a href="#video-tour" lang="en">Video Tour</a></li>
          <li><a href="#pricing" lang="en">Pricing</a></li>
          <li><a href="#contact" lang="en">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/Login" lang="en"><i class="fa fa-sign-in"></i> Login</a></li>
          <li><a href="/SignUp" lang="en" class="btn">SIGN UP</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--navigation end-->

  <!--welcome message-->
  <section class="container welcome-message">
    <div class="row">
      <div class="col-md-12">
        <h1 lang="en">Read a Foreign Language, Effortlessly</h1>
        <h2 lang="en">Improve your comprehension with curated and annotated daily readings</h2>
        <div class="play-btn"> <a href="https://www.youtube.com/watch?v=_uziCZg0_8U" class="play litebox-hero"><img src="/images/play-btn.png" alt="play">
        <!-- <p>See how you can become fluent. Take a Video Tour</p> -->
        </a> </div>

        <div class="signup-button"><a class="btn" href="#" lang="en">SIGNUP - FREE</a>
          <p lang="en">100% Free during Beta and up to 80 free readings after.
          <!-- <br> Invite your friends and earn up to six months of free subscription after Beta -->
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--welcome message end-->

</header>
<!--hero section end-->