<footer id="signupfooter">
  <p class="text-center">Or Log In with</p>
  <p class="text-center">
    <!-- Facebook -->
    <a href="/users/auth/facebook" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
    <!-- Google+ -->
    <a href="/users/auth/google_oauth2" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
  </p>
  <p class="text-center notetext">We will never post to Twitter, Facebook, or<br />
    Google Plus without your permission.</p>
</footer>