<!--benefits-->
<section class="benefits section-spacing text-center" id="features">
  <div class="container">
    <header class="section-header">
      <h2 lang="en">Why Yomu Lab?</h2>
      <h3 lang="en">Effective, Motivating and Free</h3>
    </header>
    <div class="row">
      <div class="col-sm-4"> <img src="/assets/benefits-1.svg" alt="benefits of product">
        <h4 lang="en">Effective</h4>
        <p lang="en">Our professionally translated and annotated articles ensure that you understand the meaning of each phrase in accordance with the context of the article.</p>
      </div>
      <div class="col-sm-4"> <img src="/assets/benefits-2.svg" alt="benefits of product">
        <h4 lang="en">Motivating</h4>
        <p>Learning a new language is all about persistence. We believe that by only giving you three daily articles that are quick to read, you will be more motivated to come back and read daily.  </p>
      </div>
      <div class="col-sm-4"> <img src="/assets/benefits-3.svg" alt="benefits of product">
        <h4 lang="en">Free</h4>
        <p lang="en">During Beta, everything is free! You can even earn up to 80 free readings after the Beta period by inviting your friends to join Yomu Lab.</p>
      </div>
    </div>
  </div>
</section>
<!--benefits end-->