<!--reviews-->
<section class="reviews section-spacing" id="reviews">
  <div class="container">
    <header class="section-header text-center">
      <h2 lang="en">Testimonials</h2>
      <h3 lang="en">What our users are saying about the product</h3>
    </header>
    <div class="row">

      <div class="col-sm-4">
        <!--review 1-->
        <!-- <figure class="text-center"><img src="/images/review-1.jpg" alt="face" class="img-circle"> </figure> -->
        <blockquote>
          <p lang="en">This is great. I've always wanted something like this. I love that the sentences come with furigana, especially for someone with little to no kanji knowledge. That way I can expand vocab and grammar and read entire sentences without necessarily needing kanji to start.</p>
          <cite lang="en">— Jon, Accountant, Japanese</cite>
        </blockquote>
        <!--review 1 end-->
      </div>

      <div class="col-sm-4">
        <!--review 2-->
        <!-- <figure class="text-center"><img src="/images/review-2.jpg" alt="face" class="img-circle"> </figure> -->
        <blockquote>
          <p lang="en">With a busy schedule, it's hard for me to keep up with my Japanese. This app is a godsend. I allocate the first 15 - 20
          minutes of my day to read and then move on. It keeps me motivated to come back and read daily, something I have never managed to do with other language apps. </p>
          <cite lang="en">— Anh, Engineer, Japanese</cite>
        </blockquote>
        <!--review 2 end-->
      </div>

      <div class="col-sm-4">
        <!--review 3-->
        <!-- <figure class="text-center"><img src="/images/review-3.jpg" alt="face" class="img-circle"> </figure> -->
        <blockquote>
          <p lang="en">As a teacher and graduate student in the education field, I am well-aware of the kind of positive impact reading can have on literacy. Yomu Lab makes it easier and less frustrating for students to practice a very important skill set. This is something I would definitely use with my students in other languages.</p>
          <cite lang="en">— Kassi, Teacher, Japanese</cite>
        </blockquote>
        <!--review 3 end-->
      </div>

    </div>
  </div>
</section>
<!--reviews end-->