<!--Pricing-->
<section class="pricing section-spacing text-center" id="pricing">
  <div class="container">
    <header class="section-header">
      <h2 lang="en">Pricing</h2>
      <h3 lang="en">100% Free during Beta Period</h3>
    </header>
    <div class="row">
      <div class="col-md-12">

        <!--PRICE TABLE-->
        <div class="plan">
          <div class="plan-details">
            <div class="header">
              <h4 lang="en">Beta Special</h4>
            </div>
            <div class="price"> <span class="currency"></span><span class="price-amount">FREE</span><span class="period" lang="en"></span> </div>
            <ul class="plan-features">
              <li lang="en"><span lang="en">THREE</span> Readings a Day<i class="fa fa-check"></i></li>
              <li lang="en"><span lang="en">BEAUTIFUL</span> Reading Interface<i class="fa fa-check"></i></li>
              <li lang="en"><span lang="en">SIX MONTHS</span> Free after Beta* <i class="fa fa-check"></i></li>
            </ul>
          </div>
          <div class="signup-button">
            <a class="btn" href="#" lang="en">SIGNUP - FREE</a>
            <p lang="en">* Invite your friends and earn up to <br>80 free readings after Beta</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--Pricing end-->