
<!--Features-->

<section id="features" class="features section-spacing">
  <div class="container">
    <header class="text-center section-header">
      <h2 lang="en">The Yomu Lab Methodology</h2>
      <h3 lang="en">Integrated reading helps you improve vocabulary, grammar, comprehension and contextual understanding.</h3>
    </header>
  </div>
  <div class="container">

    <!--feature 1-->
    <div class="row">
      <div class="col-md-7 col-md-push-5 text-center" style="height: 524px;"> <img src="/assets/feature-1.png" alt="feature"> </div>
      <div class="col-md-5 col-md-pull-7">
        <article>
          <h2 lang="en">Curated readings</h2>
          <p lang="en">Everyday you get a hand-picked list of new readings that are fun and educational. </p>
          <ul>
            <li lang="en">Commonly used vocabulary and grammar</li>
            <li lang="en">Variety of context and writing style </li>
            <li lang="en">Graded by difficulty levels</li>
          </ul>
        </article>
      </div>
    </div>
    <!--feature 1 end-->

    <!--feature 2-->
    <div class="row">
      <div class="col-md-7 text-center" style="height: 524px;"> <img src="/assets/feature-2.png" alt="feature"> </div>
      <div class="col-md-5">
        <article>
          <h2 lang="en">Frustration free</h2>
          <p lang="en">No more wasting time looking up new words and deciphering context. </p>
          <ul>
            <li lang="en">Fully annotated and translated by professional translators </li>
            <li lang="en">See definitions, readings, and usage notes as you read</li>
            <li lang="en">Learn in 15 minutes what would take you hours</li>
          </ul>
        </article>
      </div>
    </div>
    <!--feature 2 end-->

    <!--feature 3-->
    <div class="row">
      <div class="col-md-7 col-md-push-5 text-center" style="height: 524px;"> <img src="/assets/feature-3.png" alt="feature"> </div>
      <div class="col-md-5 col-md-pull-7">
        <article>
          <h2 lang="en">Beautiful reading experience</h2>
          <p lang="en">Every detail on our reading interface is crafted to maximize your reading pleasure.</p>
          <ul>
            <li lang="en">Simple and snappy interface to help you focus on reading</li>
            <li lang="en">Every annotation is one click way</li>
            <li lang="en">Easily toggle between various levels of reading assistance</li>
          </ul>
        </article>
      </div>
    </div>
    <!--feature 3 end-->
  </div>
</section>
<!--Features end-->