<!--cta section-->
<section class="cta-section section-spacing text-center">
  <div class="container">
    <header class="section-header">
      <h2 lang="en">Signup for Yomu Lab Today!</h2>
      <h3 lang="en">100% Free during Beta Period. Get up to 80 free readings after Beta.</h3>
    </header>
    <div class="row">
      <div class="col-md-12"> <a href="" class="btn" lang="en">SIGNUP - FREE</a>
        <!-- <p lang="en">Have any questions? Get in touch with us <a href="mailto:support@yomulab.com">here</a></h3> -->
      </div>
    </div>
  </div>
</section>
<!--cta section end-->