<!--Video section-->
<section id="video-tour" class="video-tour text-center">
  <div class="play-btn"> <a href="https://www.youtube.com/watch?v=_uziCZg0_8U" class="play litebox-hero"><img src="/images/play-btn-vs.png" alt="play"></a>
    <h2 lang="en">See how it works</h2>
  </div>

  <!--HTML5 Video-->
  <!-- <video autoplay loop muted id="bgvid" poster="video/poster.jpg">
    <source src="video/vb.mp4" type="video/mp4" />
    <source src="video/vb.webm" type="video/webm" />
  </video> -->
  <%#= video_tag ["video/vb.mp4", "video/vb.webm"], poster: "video/poster.jpg", id: "bgvid-hero", autoplay: true, "loop" => true, "muted" => true%>
  <!--HTML5 Video end-->

</section>
<!--Video section end-->