<div ng-controller="DashboardCtrl" ng-init="check_language_level();">

  <div class="alert {{ message_type }} text-center" role="alert">
    <span>{{ message_box }}</span>
  </div>
  <!-- Choose Language Level -->
  <section id="tellyourfriends">
    <div class="container">
      <header id="tellyourfriendsHeader"> 
        <p class="text-center">
          <a href="#"><img class="logo-head" alt="logo" src="/assets/logo_icon_nobg.svg" height="50" width="50" /></a>
        </p>
      </header>

      <section>     
        <div class="col-sm-6 col-md-4 col-centered">
          <p id="errorMsg" class="error small"></p>
          <form>
            <div class="form-group">
              <select class="form-control" ng-model="selectLanguage.language_level" >
                <option>Japanese Level</option>
                <option>N1</option>
                <option>N2</option>
                <option>N3</option>
                <option>N4</option>
                <option>N5</option>
              </select>
            </div>

            <div class="form-group">
              <button type="submit" ng-click="submit_language(selectLanguage);" class="btn btn-default btn-block submitbtn">Update</button>
            </div>
          </form>
        </div>
      </section>

      <footer id="tellyourfriendsFooter">
        <p class="text-center">You will receive credit for new accounts only. We reserve the right to end the promotion at any time and to disqualify entries suspected of frauds.</p>
        <p class="text-center"><a href="/admin/dashboard">Admin Dashboard</a></p>
        <br/>
        <p class="text-center">Questions? <a href="#">Email</a> us.</p>
        <p class="text-center" ng-controller="YomuLabsSignOutCtrl">Sign Out? <a href="#" ng-click="sign_out();">Click Here</a></p>

      </footer>
    </div>
  </section>
</div>
