<!-- Sign up -->
<section id="signup_Login" ng-controller="YomuLabsCtrl">
  <div class="container">
    <header id="signupheader">
      <p class="text-center">
        <a href="#">
          <img class="logo-head" alt="logo" src="assets/logo_icon_nobg.svg" height="50" width="50" />
        </a>
      </p>
      <p class="small text-center">Don’t have a Yomu Lab account? <a href="/SignUp">Sign up here</a></p>
    </header>

    <div class="col-sm-6 col-md-4 col-centered" ng-init="init();">
      <p id="errorMsg" class="error small" ng-show="error_message != ''">{{message_box}}</p>
      <form name="login_form" role="form" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required" novalidate>
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" ng-model="loginForm.email" name="email" required="required" />
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" ng-model="loginForm.password" name="password" required="required" />
        </div>
        <div class="form-group">
          <div class="clearfix"><span class="pull-left"><input type="checkbox" /> Remember me</span>
          <a href="#" class="pull-right" ng-click="forgot_password(loginForm);">Forgot Password?</a>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" ng-click="submit_credentials(loginForm);" class="btn btn-default btn-block submitbtn">
            Log In
          </button>
        </div>
      </form>
      <%= render "partials/social_sign_footer" %>
    </div>
  </div>
</section>
