<!-- Sign up -->
<section id="signup_Login" ng-controller="YomuLabsCtrl" ng-init="redirect_user_to_refer_your_friends();">
  <div class="container">
    <header id="signupheader">
      <p class="text-center">
        <a href="#">
          <img class="logo-head" alt="logo" src="assets/logo_icon_nobg.svg" height="50" width="50" />
        </a>
      </p>
      <p class="small text-center">Don’t have a Yomu Lab account? <a href="/SignUp">Sign up here</a></p>
    </header>

    <div class="col-sm-6 col-md-4 col-centered" ng-init="init();">
      
      <!-- Message Box -->
      <p id="message_box" class="{{message_type}} small" ng-show="message_box != ''">{{message_box}}</p>
      <!-- End - Message Box -->

      <form name="login_form" role="form" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required" novalidate>
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" ng-model="loginForm.email" name="email" required="required" />
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" ng-model="loginForm.password" name="password" required="required" />
        </div>
        <div class="form-group">
          <div class="clearfix">
            <span class="pull-left">
              <input type="checkbox" ng-model="loginForm.remember_me" name="remember_me" ng-true-value="'true'" ng-false-value="'false'" ng-checked="true" ng-click="set_remember_me();" /> Remember me
            </span>
            <a href="/ForgotPassword" class="pull-right">Forgot Password?</a>
          </div>
        </div>
        <div class="form-group waiting-loader">
          <button type="submit" ng-click="submit_credentials(loginForm);" class="btn btn-default btn-block submitbtn">
            Log In
            <i class="fa fa-refresh fa-spin hidden loader"></i>
          </button>
        </div>
      </form>
      <%= render "partials/social_sign_footer" %>
    </div>
  </div>
</section>


<script type="text/javascript">
  $(document).ready(function(){
    $(".loader").addClass("hidden");
    $(".submitbtn").click(function(){             
      $(this).find(".loader").removeClass("hidden");
    });
  });
</script>