<div ng-controller="DashboardCtrl" ng-init="init('<%=@authentication_token%>')">

  <div class="alert {{ message_type }} text-center" role="alert">
    <span>{{ message_box }}</span>
    <!-- <span>Thank you for signing up. Please confirm your email.</span> -->
  </div>
  <!-- Tell Your Friends -->
  <section id="tellyourfriends">
   <div class="container">
    <header id="tellyourfriendsHeader"> 
      <p class="text-center">
        <a href="#"><img class="logo-head" alt="logo" src="/assets/logo_icon_nobg.svg" height="50" width="50" /></a>
      </p>
    </header>    
    <section>
      <div class="sharetwithriends">
        <p class="text-center" style="color:red;">{{current_user.email}}<br/>
        {{current_user.authentication_token}}</p>
        <p class="text-center">Tell your friends and get up to 80 free articles after beta period!</p>
        <p class="small text-center">Share your unique link via Facebook, Twitter, Google Plus or Email</p>
        <div class="col-md-6 col-centered">
          <form class="form-inline sharetofriendsForm clearfix"> 
            <input class="sharelinkBox text-center col-md-10 col-xs-9" type="text" id="refferal_url" value="{{referral_url}}" ng-model="referral_url">
            <div class="col-md-2 col-xs-3 sharelinkcopy">
              <button type="button" class="btn btn-default btn-block">Copy</button>
            </div>
          </form>
        </div>
        <p class="text-center">
          <!-- Facebook -->
          <a onclick="fbShare('700', '600');" href="#" title="Share on Facebook" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
          <!-- Google+ -->
          <a href="https://plus.google.com/share?url={{referral_url}}" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
        </p>
        </div>
        <div class="col-md-5 signedupFriends col-centered">
          <p class="text-center">You currently have {{referral_count}} friend(s) who have signed up</p>
        </div>
        <div class="col-md-12 col-centered packages clearfix">


          <div class="col-md-2 package active">
            <p class="text-center">Sign Up</p>
            <div class="status">
              <div class="check"><div class="checkmark"><i class="fa fa-check"></i></div></div>
              <div class="statusLine"></div>
            </div>
            <p class="text-center">5 free articles</p>
          </div>
          <div class="col-md-2 package {{referral_count >= 5 ? 'active' : ''}}">
            <p class="text-center">5 friends</p>
            <div class="status">
              <div class="check {{referral_count >= 5 ? '' : 'hide'}}"><div class="checkmark"><i class="fa fa-check"></i></div></div>
              <div class="statusLine"></div>
            </div>
            <p class="text-center">10 free articles</p>
          </div>
          <div class="col-md-2 package {{referral_count >= 10 ? 'active' : ''}}">
            <p class="text-center">10 friends</p>
            <div class="status">
              <div class="check {{referral_count >= 10 ? '' : 'hide'}}"><div class="checkmark"><i class="fa fa-check"></i></div></div>
              <div class="statusLine"></div>
            </div>
            <p class="text-center">25 free articles</p>
          </div>
          <div class="col-md-2 package {{referral_count >= 25 ? 'active' : ''}}">
            <p class="text-center">25 friends</p>
            <div class="status">
              <div class="check {{referral_count >= 25 ? '' : 'hide'}}"><div class="checkmark"><i class="fa fa-check"></i></div></div>
              <div class="statusLine"></div>
            </div>
            <p class="text-center">40 free articles</p>
          </div>
          <div class="col-md-2 package {{referral_count >= 40 ? 'active' : ''}}">
            <p class="text-center">40 friends</p>
            <div class="status">
              <div class="check {{referral_count >= 40 ? '' : 'hide'}}"><div class="checkmark"><i class="fa fa-check"></i></div></div>
              <div class="statusLine"></div>
            </div>
            <p class="text-center">55 free articles</p>
          </div>
          <div class="col-md-2 package {{referral_count >= 60 ? 'active' : ''}}">
            <p class="text-center">60 friends</p>
            <div class="status">
              <div class="check {{referral_count >= 60 ? '' : 'hide'}}"><div class="checkmark"><i class="fa fa-check"></i></div></div>
              <div class="statusLine"></div>
            </div>
            <p class="text-center">80 free articles</p>
          </div>
        </div>
      </section>
      <footer id="tellyourfriendsFooter">
        <p class="text-center">You will receive credit for new accounts only. We reserve the right to end the promotion at any time and to disqualify entries suspected of frauds.</p>
        <p class="text-center">Questions? <a href="#">Email</a> us.</p>
        <p class="text-center" ng-controller="YomuLabsSignOutCtrl">Sign Out? <a href="#" ng-click="sign_out();">Click Here</a></p>

      </footer>
    </div>
  </section>
</div>

<script>
  function fbShare(winWidth, winHeight) {
    var winTop = (screen.height / 2) - (winHeight / 2);
    var winLeft = (screen.width / 2) - (winWidth / 2);

    var app_id = "903744876407538";
    //var redirect_uri = "https://www.facebook.com/sharer/sharer.php?u={{referral_url}}";
    var redirect_uri = $("#refferal_url").val();

    //var host_url = "https://yomu-lab-staging.herokuapp.com";
    var host_url = "https://yomu-lab-production.herokuapp.com";
    var picture_url = host_url+"/assets/bg.jpg";
    var caption_content = "Improve your Japanese reading - Free for a Limited Time!";
    var description = "Improve your Japanese reading effortlessly with fully translated and annotated contents, delivered daily to you.";

    window.open("https://www.facebook.com/dialog/feed?app_id="+app_id+"&redirect_uri=https://www.facebook.com&link="+redirect_uri+"&title="+caption_content+"&picture="+picture_url+"&caption="+caption_content+"&description="+description+"&properties{text:'value1',key2:'value2'}&message='tuine&actions={name:'Improve your Japanese reading - Free for a Limited Time!',link:'"+host_url+"'}",'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
    }
</script>