.article_message {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.article_message .error_box {
  padding: 20px;
  border: 1px solid #FF4C4C !important;
  background: #fff;
  color: #FF4C4C !important;
  font-size: 13px;
}
.article_message .success_box {
  padding: 20px;
  border: 1px solid #66be60 !important;
  background: #fff;
  color: #66be60 !important;
  font-size: 13px;
}

/* Annotatin Notificatin Box */

.annotation_notification {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.annotation_notification .msgBox {
  padding: 2px;
  font-size: 13px;
}
.annotation_notification.success_box {
  border: 1px solid #66be60;
  color: #66be60;
}
.annotation_notification.error_box {
  border: 1px solid #66be60;
  color: #66be60;
}
#dashboardTable td{
  border: 1px solid #ddd;
  line-height: 1.42857143;
  vertical-align: top;
}