
/* ==========================================================================
   Table Of Content
   ==========================================================================


   1.General
   2.Hero section
   3.Navbar
   4.Play button
   5.Featured on
   6.Benefits
   7.Features
   8.video tour
   9.tour
   10.Pricing
   11.reviews
   12.cta section
   13.Team
   14.Twitter feed
   15.Contact us
   16.Subscription form styles
   17.site footer
   18.Social
   19.Small devices (tablets, 768px and up)
   20.Medium devices (desktops, 992px and up)

   */


/* ==========================================================================
   1.General
   ========================================================================== */

   body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 16px;
    overflow-x: hidden;
  }

  p {
    font-weight: 400;
    color: #4c4c4c;
    font-size: 17px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    color: #4c4c4c;
  }

  h4 {
    font-size: 20px;
    margin: 12px 0;
  }

  a {
    color: #4DD865;
    transition: all 0.3s ease-in-out;
  }

  a:hover,
  a:focus {
    color: #36BB4D;
    text-decoration: none;
  }

  a:focus { outline: none; }

  img {
    max-width: 100%;
    height: auto;
  }

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  b,
  strong { font-weight: 600; }
  .col-centered {
    float: none;
    margin: 0 auto;
  }
  .alert{
    color:#fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 0;    
  }
  .alert-error {    
    background: #ee1f25;
  }
  .alert-success {   
    background: #66be60;
  }

/* ==========================================================================
   2.Hero section
   ========================================================================== */

   .hero-section {
    background: url("/assets/bg.jpg") center center no-repeat scroll;
    background-size: cover;
    padding: 0 0 4.5em;
    position: relative;
    color: #fff;
  }

  .hero-section::before,
  .video-tour::before,
  .pricing::before,
  .twitter-feed::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  .hero-section::before { background: rgba(0, 0, 0, 0.3); }

  .welcome-message { margin-top: 2em; text-align: center;}

  .welcome-message h1 {
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    margin: 0 0 24px;
  }

  .welcome-message h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin: 0;
  }

  .btn {
    padding: 1em 3em;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #4DD865;
    line-height: 1.5;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }

  .btn:hover {
    color: #fff;
    background-color: #36BB4D;
  }

  .btn:active,
  .btn:focus,
  .btn:active:hover,
  .btn:active:focus {
    color: #fff;
    outline: none;
    background-color: #36BB4D;
  }

  .cta-btn p {
    color: #fff;
    margin: .75em 0 0;
    font-size: 18px;
  }
  .btn.submitbtn {
    padding: 6px 12px
  }
/* ==========================================================================
   3.Navbar
   ========================================================================== */

   .navbar-default {
    background-color: rgba(255, 255, 255, 0.97);
    border: none;
    margin-bottom: 0;
    border-radius: 0;
    padding: .75em 0;
  }

  .nav > li { text-align: center; }

  .nav > li > a > i { padding-right: .2em; }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #4DD865;
    transition: all 0.3s ease-in-out;
  }

  .navbar-default .navbar-toggle:hover .icon-bar,
  .navbar-default .navbar-toggle:focus .icon-bar { background-color: #fff; }

  .navbar-brand { padding: 0 0 0 1em; }

  .navbar-brand .logo-nav,
  .nav-left { display: none; }

  .navbar-default.stuck .logo-head { display: none; }

  .navbar-default.stuck .logo-nav,
  .navbar-default.stuck .nav-left { display: block; }

  .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus { color: #fff; }

  .navbar-default.stuck .navbar-nav>li>a { color: #4c4c4c; }

  .navbar-default.stuck .navbar-nav > li > a:hover,
  .navbar-default.stuck .navbar-nav > li > a:focus { color: #36BB4D; }

  .navbar-default .btn { font-size: 16px; }

  .navbar-default.stuck .navbar-nav .btn {
    display: inline-block;
    background: #4DD865;
    color: #fff;
    border: 1px solid #4DD865;
  }

  .navbar-default.stuck .navbar-nav .btn:hover,
  .navbar-default.stuck .navbar-nav .btn:focus {
    background: #36BB4D!important;
    color: #fff;
  }

  .navbar-default.stuck {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 1px 12px 0px rgba(51, 51, 51, 0.23);
    -webkit-animation: fadeInDown 1s both;
    animation: fadeInDown 1s both;
  }
  @-webkit-keyframes fadeInDown {
    0% {
      opacity:0;
      -webkit-transform:translateY(-20px);
      transform:translateY(-20px);
    }
    100% {
      opacity:1;
      -webkit-transform:translateY(0);
      transform:translateY(0);
    }
  }
  @keyframes fadeInDown {
    0% {
      opacity:0;
      -webkit-transform:translateY(-20px);
      -ms-transform:translateY(-20px);
      transform:translateY(-20px);
    }
    100% {
      opacity:1;
      -webkit-transform:translateY(0);
      -ms-transform:translateY(0);
      transform:translateY(0);
    }
  }

/* ==========================================================================
   4.Play button
   ========================================================================== */


   .play-btn { margin: 2.25em 0; }

   .hero-section .play-btn img { transition: opacity 0.3s linear; }

   .play-btn img:hover { opacity: .8; }

/* ==========================================================================
   5.Featured on
   ========================================================================== */



   .section-header { margin-bottom: 3em; }

   .section-header h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
  }

  .section-header h3 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }

  .featured-on,
  .features,
  .tour,
  .site-footer { background-color: rgba(0, 0, 0, 0.03); }

  .section-spacing,
  .section-spacing.featured-on,
  .section-spacing.tour,
  .section-spacing.site-footer { padding: 3.75em 0; }

  .featured-on .section-header { margin-bottom: 1.5em; }

  .featured-sites li { padding: 0 3em 1.5em; }

  .featured-sites li:last-child { padding-bottom: 0; }

  .featured-sites img {
    opacity: .15;
    transition: all 0.5s linear;
  }

  .featured-sites img:hover { opacity: .2; }

/* ==========================================================================
   6.Benefits
   ========================================================================== */



   .benefits img { margin-bottom: .75em; }

   .benefits p { color: #8A8A8A; }

   .benefits div[class^="col-"]:nth-child(1),
   .benefits div[class^="col-"]:nth-child(2),
   .reviews div[class^="col-"]:nth-child(1),
   .reviews div[class^="col-"]:nth-child(2),
   .team div[class^="col-"]:nth-child(1),
   .team div[class^="col-"]:nth-child(2) { padding-bottom: 1.5em; }

   .benefits div[class^="col-"] > p:last-child { margin-bottom: 0; }

/* ==========================================================================
   7.Features
   ========================================================================== */

   .features { overflow-x: hidden; }

   .features div[class="row"] { margin-bottom: 4em; }

   .features article { margin-top: 1.5em; }

   .features article h2 {
    font-size: 24px;
    margin: 24px 0 12px;
  }

  .features article li {
    font-size: 17px;
    color: #8A8A8A;
    padding-left: 1em;
    text-indent: -.7em;
    padding-bottom: .2em;
  }

  .features article li:last-child { padding-bottom: 0; }

  .features article li:before {
    content: "• ";
    color: #4DD865;
    padding-right: .5em;
  }

  .features div[class="row"]:nth-child(3) .col-md-4 article { margin-bottom: 1.5em; }

/* ==========================================================================
   8.video tour
   ========================================================================== */

   .video-tour {
    position: relative;
    height: 400px;
    overflow: hidden;
    background: #333 url("/assets/bg-video-preview.jpg") center center no-repeat scroll;
    background-size: cover;
    -webkit-perspective: 1000;
    perspective: 1000;
  }

  .video-tour::before {
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .video-tour h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
  }

  #bgvid {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  .video-tour .play-btn {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
  }

/* ==========================================================================
   9.tour
   ========================================================================== */

   .center-block { float: none; }

   .tour h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }

  .tour .btn {
    margin-top: 1em;
    vertical-align: initial;
  }

  .tour .btn i,
  .sub-form .btn i { padding-left: .5em; }

/* ==========================================================================
   10.Pricing
   ========================================================================== */

   .pricing {
    background: url("/assets/bg-pricing.jpg") center center no-repeat scroll;
    background-size: cover;
    position: relative;
  }

  .pricing::before { background: rgba(0, 0, 0, 0.30); }

  .pricing .section-header h2,
  .pricing .section-header h3 {
    position: relative;
    color: #fff;
  }

  .plan {
    background-color: #fff;
    width: 350px;
    display: inline-block;
    margin: 0 0 1.5em;
    max-width: 100%;
  }

  .plan:last-child { margin-bottom: 0; }

  .plan .header,
  .price,
  .plan-features { padding: 1.5em 1em; }

  .plan .header h4 {
    font-size: 21px;
    margin: 0;
  }

  .price {
    background-color: #43c5b8;
    color: #fff;
  }

  .price-amount {
    font-size: 110px;
    line-height: 1;
  }

  .period { font-size: 30px; }

  .currency {
    font-size: 30px;
    vertical-align: top;
    top: 30px;
  }

  .plan-features li {
    padding-bottom: .75em;
    font-size: 17px;
  }

  .plan-features li:last-child { padding-bottom: 0; }

  .plan-features li span { font-weight: 700; }

  .plan-features li i {
    padding-left: .5em;
    color: #4DD865;
  }

  .buy-button { padding-bottom: 1.5em; }

  .buy-button p {
    margin: 12px 0 0;
    font-weight: 300;
  }

/* ==========================================================================
  11.reviews
  ========================================================================== */

  .reviews figure { margin-bottom: 1.5em; }

  blockquote {
    padding: 0 0 0 3em;
    margin: 0;
    border-left: none;
    position: relative;
  }

  blockquote::before {
    content: "\201C";
    color: #e9e9e9;
    position: absolute;
    left: -12px;
    top: -50px;
    font-size: 128px;
  }

  blockquote p {
    font-size: 18px;
    font-weight: 400;
  }

  blockquote cite {
    font-size: 17.5px;
    font-weight: 400;
    color: #AEAFAF;
    font-style: normal;
  }

/* ==========================================================================
  12.cta section
  ========================================================================== */

  .cta-section { background-color: #4DD865; }

  .cta-section .section-header { margin-bottom: 2.25em; }

  .cta-section h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
  }

  .cta-section .section-header h3 {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
  }

  .cta-section .btn {
    background-color: #fff;
    color: #4DD865;
    border: 1px solid transparent;
  }

  .cta-section .btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }

  .cta-section p {
    color: #fff;
    margin: .75em 0 0;
  }

  .cta-section a[href^="tel"] { color: #fff; }

  .cta-section a[href^="tel"]:hover {
    color: #fff;
    text-decoration: underline;
  }

/* ==========================================================================
   13.Team
   ========================================================================== */



   .team h4 {
    font-size: 21px;
    margin: 24px 0 6px;
  }

  .team h5 {
    font-size: 19px;
    font-weight: 400;
    margin-top: 0;
  }

  .team div[class^="col-"]:nth-child(3) .team-info h5 { margin: 0; }

  .team p { color: #fff; }

  .team-details figure {
    position: relative;
    overflow: hidden;
    width: 360px;
    max-width: 100%;
    margin: 0 auto;
  }

  .team-details figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(245, 99, 99, 0.95);
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    padding: 1.5em 1em;
    display: block;
  }

  .team-details figure figcaption div p,
  .team-details figure figcaption div li a {
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }

  .team-details figure:hover figcaption,
  .team-details figure:hover figcaption div p,
  .team-details figure:hover figcaption div li a {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .team-details figure figcaption div p { transition-delay: 0.05s; }

  .team-details figure figcaption div li:nth-child(1) a { transition-delay: 0.1s; }

  .team-details figure figcaption div li:nth-child(2) a { transition-delay: 0.15s; }

  .team-details .social { margin-top: .75em; }

  .team-details .social li a {
    color: #4DD865;
    background-color: #fff;
    border: 1px solid #4DD865;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.5em;
  }

  .team-details .social li a:hover {
    color: #fff;
    background-color: #4DD865;
    border: 1px solid #fff;
  }

  .team-details figcaption div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1.5em;
  }

/* ==========================================================================
   14.Twitter feed
   ========================================================================== */

   .twitter-feed {
    background: url("/assets/bg-twitter.jpg") center center no-repeat scroll;
    background-size: cover;
    position: relative;
  }

  .twitter-feed::before { background: rgba(0, 0, 0, 0.38); }

  .twitter-icon .fa-twitter {
    color: #fff;
    font-size: 4em;
    padding-bottom: 12px;
  }

  .tweet {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
  }

  .tweet a { color: #fff; }

  .tweet a:hover { color: rgba(255, 255, 255, 0.92); }

/* ==========================================================================
   15.Contact us
   ========================================================================== */

   .contact.section-spacing { padding: 3.75em 0 0; }

   #map-canvas {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 35em;
  }

  #map-canvas img { max-width: none; }

  .map-info-box { text-align: left; }

  .map-info-box p { margin: 0 0 8px; }

  .map-info-box i {
    padding-right: .5em;
    color: #CEC9C9;
  }

  .map-head h3 {
    height: 30px;
    background: url("/assets/logo-nav.png") 47px center no-repeat;
    background-size: 110px auto;
    text-indent: -999em;
    margin: 12px 0 14px;
  }

  .map-address { font-weight: 300; }

  .map-email { font-weight: 400; }

/* ==========================================================================
   16.Subscription form styles
   ========================================================================== */


   .form-control::-webkit-input-placeholder {
     color: #8A8A8A;
   }
   .form-control:-moz-placeholder {
     color: #8A8A8A;
   }
   .form-control::-moz-placeholder {
     color: #8A8A8A;
   }
   .form-control:-ms-input-placeholder {
     color: #8A8A8A;
   }

   .form-control {
    background-color: #fff;
    border: 1px solid #4DD865;
    color: #4c4c4c;
    box-shadow: none;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    padding: 0 1.5em;
  }

  .form-control:focus {
    border-color: #36BB4D;
    outline: 0;
    box-shadow: none;
  }

  .sub-form .btn { padding: 1em; }

  #mc-form .btn-default { height: 60px; }

  #mc-notification {
    margin: 0.75em 0 0;
    font-weight: 400;
    color: #8A8A8A;
    font-size: 17px;
  }

  .error { color: #FF4C4C !important; }

  .valid, .success { color: #4CAF50 !important; }

  .info { color: #d9edf7 !important; }


  .error i,
  .valid i { padding-right: .5em; }

/* ==========================================================================
   17.site footer
   ========================================================================== */



   .site-footer small { display: inline-block; }

   .footer-links,
   .site-footer small { margin: 0 0 .75em; }

   .site-footer small,
   .footer-links a {
    color: #8A8A8A;
    font-weight: 300;
    font-size: 18px;
  }

  .footer-links a:hover { color: #36BB4D; }

  .footer-links a:first-child { padding-right: .4em; }

/* ==========================================================================
   18.Social
   ========================================================================== */


   .social li {
    display: inline-block;
    padding-right: .5em;
    text-align: center;
  }

  .social li:last-child { padding-right: 0; }

  .social li a {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    border-radius: 50%;
    position: relative;
    transition: all .8s ease;
    font-size: 1.3em;
    background: #D6D6D6;
  }

  .social li a:hover {
    color: #fff;
    background: #4DD865;
  }

/* ==========================================================================
   Language switcher
   ========================================================================== */

   .language-switcher {
    right: 80px;
    top: 96px;
    z-index: 10;
    position: absolute;
  }

  .language-switcher .btn {
    font-size: 15px;
    text-transform: none;
    padding: 0;
    line-height: 0;
  }

  .language-switcher .btn,
  .language-switcher .btn:hover,
  .language-switcher.open>.dropdown-toggle.btn-default:hover,
  .language-switcher.open>.dropdown-toggle.btn-default,
  .language-switcher .btn:active,
  .language-switcher .btn:focus,
  .language-switcher .btn:active:hover,
  .language-switcher .btn:active:focus,
  .language-switcher.open>.dropdown-toggle.btn-default:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #fff;
  }

  .language-switcher .dropdown-menu a img,
  .language-switcher .btn img { padding-right: 3px; }

  .language-switcher .dropdown-menu { top: 126%; }

   /* Sign up style */
  #signup_Login {padding-top: 20px}
  #signupheader {padding-bottom: 10px}
  #signupheader p {font-size: 13px}
  #signupheader p a {color:#279bb8;}
  #signupheader p a:hover {text-decoration: underline;}
  #signup_Login .form-control {border-color:#9b9c9d;}
  #signup_Login .form-control:focus {border-color:#36bb4d;}    
  #errorMsg, #message_box {margin-bottom: 20px}
  #signupfooter {border-top: 1px solid #999898; padding-top: 20px}
  #signup_Login .notetext {font-size: 15px; padding-top: 10px}
  #signup_Login .btn {text-transform: capitalize;}

  /* Tell your friends */
  #tellyourfriendsHeader {padding: 20px 0}
  #tellyourfriends .sharetwithriends {padding-bottom: 30px}
  #tellyourfriends .sharetwithriends p {color:#000; margin-bottom: 5px}
  #tellyourfriends .sharetwithriends p.small {font-size: 12px; margin-bottom: 10px}
  #tellyourfriends .sharetofriendsForm {margin-bottom: 20px}
  #tellyourfriends .sharetofriendsForm .sharelinkBox {background:#e1dad9; padding: 12px; font-size: 13px; border:none; white-space: nowrap;}
  #tellyourfriends .sharetofriendsForm .btn {padding: 12px 0; font-size: 13px; text-transform: capitalize;}
  #tellyourfriends .sharetofriendsForm .sharelinkcopy {padding:0 0 0 5px}
  #tellyourfriends .signedupFriends {padding-top: 30px; border-top: 1px solid #999898; padding-bottom: 25px}
  #tellyourfriends .signedupFriends p {color:#000;}
  #tellyourfriends .packages p {font-size: 14px}  
  #tellyourfriends .packages .status {height: 30px; padding-top: 11px; margin-bottom: 15px; margin-top: 8px; position: relative;}
  #tellyourfriends .packages .status .check {position: absolute; height: 100%; width: 100%; top: 0; left: 0}
  #tellyourfriends .packages .status .check .checkmark {background: #66be60; border-radius: 50%; height: 28px; width: 28px; margin:0 auto; text-align: center; line-height: 28px; color: #fff; font-weight: normal;}
  #tellyourfriends .packages .statusLine {background:#999898; height: 7px;}
  #tellyourfriends .packages .package.active .status {color:#484849;}
  #tellyourfriends .packages .package.active .statusLine {background: #66be60}
  #tellyourfriendsFooter {padding-top: 30px}
  #tellyourfriendsFooter p {font-size: 12px; color: #000; margin-bottom: 5px}
  #tellyourfriendsFooter p a {color:#279bb8;}
  #tellyourfriendsFooter p a:hover {text-decoration: underline;}
  #friendsListModal .sendBtn {padding: 6px 12px; text-transform: capitalize;}
  #friendsListModal ul.friendsList li {border: 1px solid #fff; padding: 2px; margin: 0 0 10px 0;}
  #friendsListModal ul.friendsList li label {cursor: pointer; font-size: 13px}
  #friendsListModal ul.friendsList li img {border: 1px solid #ccc}
  #friendsListModal ul.friendsList li:nth-child(odd) {
      float: right;
  } 
  #friendsListModal ul.friendsList li:hover {border:1px solid #66be60;}
  #friendsListModal .modal-dialog {
    overflow-y: initial !important
  }
  #friendsListModal .modal-body {
       height: 500px;  
       width: 100% !important
  }
   /* Language Level */  
  #langLevel {padding-top: 20px}
  #langLevelHeader {padding-bottom: 10px}
  #langLevelHeader p {font-size: 13px}  
  #langLevel .form-control {border-color:#9b9c9d;}
  #langLevel .form-control:focus {border-color:#36bb4d;}    
  #langLevel .btn {text-transform: capitalize;}

  /* Article Pages */
  #articleHeader {border-bottom: 1px solid rgba(0, 0, 0, 0.15); padding: 5px 0}
  #articleHeader #logo {margin: 0}
  #articleHeader .frame {border-radius: 50%; overflow: hidden; width: 32px; height: 32px; display: inline-block; position: relative; top:10px;}
  #articleHeader aside {color:#c4c4c4;}
  #articlesRows {padding-top: 80px}
  #articlesRows h3 {font-weight: normal; padding-bottom: 10px; color:#000}
  #articlesRows .articleRow {margin-bottom: 70px}
  #articlesRows .articlelist li {margin-bottom: 10px; color: #000}
  #articlesRows .articlelist li .checkmark {background: #66be60; border-radius: 50%; height: 25px; width: 25px; text-align: center; line-height: 25px; color: #fff; font-weight: normal; display: none;}
  #articlesRows .articlelist li.read {color:#c4c4c4;}
  #articlesRows .articlelist li.read .checkmark {display: block;}  

  #sendfeedbackLink a {font-size: 12px; color: #9d9f9f; text-decoration: underline;}
  #sendfeedbackLink a:hover {text-decoration: none;}
 

  /* DropDown menus */
  #dropdownMenu {cursor: pointer; padding-bottom: 11px}
  #dropdownMenuTop .dropdown-menu {left: auto; right: 0; top:109%; min-width: 122px; border-radius: 0; border-top: 0; box-shadow: none;}
  #dropdownMenuTop .dropdown-menu .divider {border: 10px solid #fff; border-width: 0 10px; margin: 0}
  #dropdownMenuTop .dropdown-menu  > li {text-align: right;}
  #dropdownMenuTop .dropdown-menu > li > a {padding:5px 10px; color: #c4c4c4}
  #dropdownMenuTop .dropdown-menu > li > a:hover {color:#000;}

  /* Article Details */
  #articleDetails {padding-top: 25px}
  #articleInfo {color:#9d9f9f; font-size: 12px}
  #articleInfo a {color:#9d9f9f;}
  #articleInfo .source a {text-decoration: underline;}
  #articleInfo .source a:hover {text-decoration: none;}
  #articleDetails #articleHeading {padding: 10px 0 30px; color: #000}
  #articleDetails #articleBody {position: relative;}
  #articleDetails #articleBody .articleContent p {margin-bottom: 30px; color: #000; line-height: 34px}
  #articleDetails .actionpanel .btn {text-transform: capitalize; margin-right: 10px; padding: 6px 12px; font-size: 13px}
  #articleDetails .actionpanel .btn-default.disabled {background: #ccc}
  #articleDetails .actionpanel span {color:#9d9f9f; font-size: 13px}
  #articleDetails #articleBody .wordDef {text-decoration: underline; cursor: pointer;}
  #articleReadFooter {padding-top: 50px; font-size: 12px; color: #9d9f9f;}   
  #articleReadFooter .switch, #articleReadFooter .actionLabel {display: table-cell; vertical-align: middle;}
  #articleReadFooter .actionLabel {padding-right: 10px; font-weight: normal;}
  #articleReadFooter .switch {padding-right: 20px}

  #definationBox {position: absolute; width: 100%; left: 0; background: #f1f2f1; padding: 10px; border:1px solid #ddd;}
  #definationBox h3 {font-size: 16px; margin-top:0; color:#f37875;}
  #definationBox p {font-size: 13px; color: #000; margin: 0}
  #definationBox span.label {width: 104px; display: inline-block; padding-right: 10px; font-weight: bold}
  #definationBox .closebtn {font-size: 12px; color: #bbb; cursor: pointer; text-decoration: underline;}
  #definationBox .closebtn:hover {text-decoration: none;}
  .synonyms {position: relative;}
  .synonyms span {position: absolute; top:-20px; left: 0; font-size: 12px}
  
  /** Send Feedback Page **/
  
  #sendFeedback {padding-top: 50px}
  #sendFeedbackHeader {padding-bottom: 50px}
  #feedbackContent p {font-size: 15px; color: #000}
  #feedbackContent .textarea {height: 200px}
  #feedbackFooter {padding-top: 50px}
  #feedbackFooter .notetext {font-size: 15px}
  #feedbackContent .submitbtn {padding-left: 30px; padding-right: 30px; text-transform: capitalize;}
  #feedbackContent .thankyoumessage {margin-bottom: 50px}

  /*** Admin Wrapper ***/
  #adminWrapper {min-width: 980px}
  .steps_top_padding {padding-top: 30px}
  .stepButton {border: 1px solid #66be60; background: none; color: #66be60; padding: 6px 30px; font-size: 14px; text-transform: capitalize;}
  .stepButton:hover, .stepButton:focus {border: 1px solid #66be60}

  /*** Admin Dashboard ***/
  #adminDashboard {padding-top: 10px}
  #adminDashboard h2 {font-weight: normal; color: #000}
  #adminDashboard #createArticle {text-transform: capitalize; padding: 6px 12px; font-size: 13px}
  #dashboardTable th {background: #b7b6b6; font-size: 13px; color: #fff; text-align: center; padding: 5px 8px}
  #dashboardTable td {padding: 5px 8px; font-size: 13px; color: #000; text-align: center;}
  #dashboardTable td .btn-link { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000;
    font-size: 13px;
    padding: 0;
    text-transform: capitalize;}

  /*** Create Article Step 1 ***/  
  #createarticle_step1 .form-control {border-color:#9b9c9d;}
  #createarticle_step1 .form-control:focus {border-color:#36bb4d;} 
  #createarticle_step1 textarea.form-control {height: 200px; padding-top: 10px}  
  #steps {width: 578px; margin-bottom: 30px}
  #steps .circle {border: 1px solid #66be60; color: #66be60; width: 60px; height: 60px; border-radius: 50%; line-height: 60px; text-align: center; font-size: 28px; margin-bottom: 10px}
  #steps .circle.active {background: #66be60; color:#fff;}
  #steps .line {height: 1px; background: #999898; margin: 30px 18px 0 18px; width: 72px; float: left;}
  #steps .circleTop {float: left; text-align: center; font-size: 13px}

  /*** Change Password ***/
  #changePassword {padding-top: 60px}
  #changePassword .form-control {border-color:#9b9c9d;}
  #changePassword .form-control:focus {border-color:#36bb4d;} 
  #changePassword .form-horizontal .control-label {font-weight: normal; text-align: left; color: #999; padding-top: 16px; padding-right: 0}
  #changePassword .form-horizontal .control-label.password_label {padding-top: 0}
  #changePassword .actions {padding-top: 30px}
  #changePassword .actions .btn {padding: 6px 32px; text-transform: capitalize; font-weight: normal; font-size: 13px}
  #changePassword .cancelBtn {background: #ababab}
  #changePassword .cancelBtn:hover {background: #9c9b9b}
  #changePassword form a {color:#3c57a7; text-decoration: underline;}
  #changePassword form a:hover {text-decoration: none;}
  #changePassword form input.error {border-color: #f00}
  
/* ==========================================================================
   19.Small devices (tablets, 768px and up)
   ========================================================================== */

   @media (min-width: 768px) {

    .hero-section { padding: 0 0 4.5em; }

    .welcome-message { margin-top: 2em; text-align: left;}

    .welcome-message h1 { font-size: 44px; }

    .welcome-message h2 { font-size: 23px; }

    .play-btn { margin: 3em 0; }

    .featured-sites li {
      padding: 0 1em;
      display: inline-block;
    }

    .section-spacing { padding: 4.5em 0; }

    .contact.section-spacing { padding: 4.5em 0 0; }

    .section-header h3 { font-size: 26px; }

    .benefits div[class^="col-"]:nth-child(1),
    .benefits div[class^="col-"]:nth-child(2),
    .reviews div[class^="col-"]:nth-child(1),
    .reviews div[class^="col-"]:nth-child(2),
    .team div[class^="col-"]:nth-child(1),
    .team div[class^="col-"]:nth-child(2) { padding-bottom: 0; }

    .tour .btn { margin: 0 0 0 1em; }

    .video-tour { height: 450px; }

    .plan {
      width: 325px;
      margin: 0 1em 0;
    }

    blockquote { padding: 0 0 0 1em; }

    blockquote::before {
      left: -18px;
      top: -30px;
      font-size: 80px;
    }

    .cta-section h2 { font-size: 46px; }

    .team h5 { margin: 0 !important; }

    .tweet { font-size: 23px; }

    .sub-form .btn { padding: 1em 2em; }

    .language-switcher { right: 80px; }
     
  }

/* ==========================================================================
   20.Medium devices (desktops, 992px and up)
   ========================================================================== */

   @media (min-width: 992px) {

    .hero-section { padding: 2em 0 7.75em; }

    .navbar-default { background-color: transparent; }

    .navbar-default .btn {
      border: 1px solid #fff;
      background-color: transparent;
      padding: .75em 1.5em;
    }

    .navbar-default .btn:hover { background-color: #36BB4D !important; }

    .navbar-brand { padding: 0; }

    /*.nav-left { padding-left: 3em; }*/

    .welcome-message { margin-top: 2em; text-align: left;}

    .welcome-message h1 { font-size: 30px; }

    .welcome-message h2 { font-size: 20px; }

    .play-btn { margin: 3em 0; }

    .section-spacing { padding: 6em 0; }

    .contact.section-spacing { padding: 6em 0 0; }

    .features div[class="row"]:nth-child(1),
    .features div[class="row"]:nth-child(2) { margin-bottom: 7.5em; }

    .features article { margin-top: 6em; }

    .features img {
      max-width: none;
      position: absolute;
      width: 900px;
      top: 0;
      left: 22px;
    }

    .features div[class="row"]:nth-child(2) .col-md-7 img { left: -277px; }

    .featured-sites li { padding: 0 3em; }

    .video-tour {
      height: 600px;
      /*background: none;*/
    }

    /*.video-tour::before { background: rgba(0, 0, 0, 0.1); }*/

    /*#bgvid { display: block; }*/

    .plan {
      margin: 0 1.5em 0;
      width: 350px;
    }

    blockquote { padding: 0 0 0 3em; }

    blockquote::before {
      left: -5px;
      top: -50px;
      font-size: 128px;
    }

    .footer-links,
    .site-footer small { margin: 0; }

    .section-spacing.site-footer { padding: 3em 0; }

    .language-switcher { top: 10px; }

    .play-btn { margin: 4em 0; }

  }

 @media (max-width: 460px) {
    .video-tour .play-btn img { width: 45%; }
    #articleDetails .actionpanel span {display: block; margin-top: 10px}
    #articleReadFooter #sendfeedbackLink {margin-top: 10px}
    #tellyourfriends .packages .package {border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px 5px 0;}
  }

  /* custom */

  .buy-button p, .signup-button p {
    margin: 12px 0 0;
    font-weight: 300;
  }

  .signup-button {
  }

  .signup-button p {
    font-size: 12px;
    font-style: italic;
  }

  .welcome-message .signup-button p {
    color: #fff;
  }


  .play-btn p {margin: 0.5em 0 0.5em 0;color:#fff;}

  .buy-button, .signup-button { padding-bottom: 1.5em; }

 