<%
  url = root_url if url.nil?
  if url.include?('staging')
    present_domain = "staging"
  elsif url.include?('production')
    present_domain = "production"
  elsif url.include?('yomulab')
    present_domain = "yomulab"
  else
    present_domain = "localhost"
  end
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi,
      <br/>
      <br/>
      Welcome to Yomu Lab. Thanks for signing up for a free account. Click this link below to confirm your account.
      <br/>
      <br/>

      <% if present_domain == "staging" %>
      <a href="https://yomu-lab-staging.herokuapp.com/ReconfirmUser/?confirmation_token=<%=@token %>">Click Here</a>
      <% end %>

      <% if present_domain == "production" %>
      <a href="https://yomu-lab-production.herokuapp.com/ReconfirmUser/?confirmation_token=<%=@token %>">Click Here</a>
      <% end %>

      <% if present_domain == "localhost" %>
      <a href="http://localhost:3000/ReconfirmUser/?confirmation_token=<%=@token %>">Click Here</a>
      <% end %>

      <br/>      
      <br/>
      Yomu Labs Support
    </p>
  </body>
</html>
