<%
  url = root_url if url.nil?
  if url.include?('staging')
    confirmation_url = "https://yomu-lab-staging.herokuapp.com/ReconfirmUser/?confirmation_token="+@token

  elsif url.include?('production')
    confirmation_url = "https://yomu-lab-production.herokuapp.com/ReconfirmUser/?confirmation_token="+@token

  elsif url.include?('yomulab')
    confirmation_url = "http://yomulab.com/ReconfirmUser/?confirmation_token="+@token

  else
    confirmation_url = "http://localhost:3000/ReconfirmUser/?confirmation_token="+@token
  end
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi,
      <br/>
      <br/>
      Welcome to Yomu Lab. Thanks for signing up for a free account. Click this link below to confirm your account.
      <br/>
      <br/>

      <a href="<%=confirmation_url %>">Click Here</a>
      
      <br/>      
      <br/>
      Yomu Labs Support
    </p>
  </body>
</html>
