<%
  url = root_url if url.nil?
  if url.include?('staging')
    present_domain = "staging"
  elsif url.include?('production')
    present_domain = "production"
  elsif url.include?('yomulab')
    present_domain = "yomulab"
  else
    present_domain = "localhost"
  end
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @subject %></h1>
    <p>
      Hi,
      <br/>
      Welcome to Yomu Lab. Thanks for signing up for a free account.
      Click this link below to confirm your account.
    </p>
    <br/>

    <% if present_domain == "staging" %>
    <p>
      <a href="https://yomu-lab-staging.herokuapp.com/ReconfirmUser/?confirmation_token=<%=@token %>">Click Here</a>
    </p>
    <% end %>
    <br/>
    
    <% if present_domain == "production" %>
    <p>
      <a href="https://yomu-lab-production.herokuapp.com/ReconfirmUser/?confirmation_token=<%=@token %>">Click Here</a>
    </p>
    <% end %>
    <br/>

    <% if present_domain == "localhost" %>
    <p>
      <%= link_to 'Local-Host-Verify-Now', confirmation_url(@resource, confirmation_token: @token) %>
    </p>
    <% end %>
    
    <br/>
    <br/>
    <p>
      Yomu Labs Support
    </p>
  </body>
</html>

