<%
  url = root_url if url.nil?
  if url.include?('staging')
    reset_password_url = "https://yomu-lab-staging.herokuapp.com/ResetPassword/?token="+@token

  elsif url.include?('production')
    reset_password_url = "https://yomu-lab-production.herokuapp.com/ResetPassword/?token="+@token

  elsif url.include?('yomulab')
    reset_password_url = "http://yomulab.com/ResetPassword/?token="+@token

  else
    reset_password_url = "http://localhost:3000/ResetPassword/?token="+@token
  end
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @subject %></h1>
    <p>
      Hi,
      <br/>
      Welcome to Yomu Lab. Thanks for signing up for a free account.
      Click this link below to confirm your account.
    </p>
    <br/>
    <p>
      <a href="<%=reset_password_url %>">Reset Here</a>
    </p>
    
    <br/>
    <br/>
    <p>
      Yomu Labs Support
    </p>
  </body>
</html>
